/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 50px; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
	min-width: 1000px;
	display: flex;
	justify-content: center;
}

.form-stacked {
	display: flex;
	flex-direction: column;;
	align-items: flex-start;
}

input[disabled] {
	opacity: 0.5;
	pointer-events: none;
}
