<h1>Hello world!</h1>

<mat-card>
  <mat-card-content>
    <form class="example-form" [formGroup]="form">
      <maf-input type="gva" label="Maf input" formControlName="test"></maf-input>
      <maf-select style="width: 100%" type="autosuggest" label="maf select 1" [items]="selectItems" formControlName="select"></maf-select>
      <maf-select style="width: 100%" type="autosuggest" label="maf select 2" [items]="selectItems" formControlName="test2"></maf-select>
    </form>

    {{ form.value | json }}

  </mat-card-content>
</mat-card>
