<div class="container">
    <mat-card>
        <form [formGroup]="form" class="form-stacked" *ngIf="disabled$ | async as disabled">
            <div>Disabled: {{disabled | json}}</div>
            <mat-form-field appearance="fill">
                <mat-label>Input</mat-label>
                <input matInput formControlName="control1" /> <!-- Functionality uses control.enable() / disable() by default. But if you really want to use [disabled] in the template (you shouldn't really) you can use the generated disabled observable like [disabled]="disabled['control1']" here -->
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Input</mat-label>
                <input matInput formControlName="control2" />
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Input</mat-label>
                <input matInput formControlName="control3" />
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Input</mat-label>
                <input matInput formControlName="control4" />
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Input</mat-label>
                <input matInput formControlName="control5" />
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Input</mat-label>
                <input matInput formControlName="control6" />
            </mat-form-field>
        </form>
    </mat-card>
</div>
